# {{ ansible_managed }}

{% for acl in bind_acls %}
acl "{{ acl.name }}" {
{% for match in acl.match_list %}
  {{ match }};
{% endfor %}
};
{% endfor %}

options {
  directory "{{ bind_dir }}";
  pid-file "{{ bind_pid_file }}";

  dnssec-enable {{ bind_dnssec_enable }};
  dnssec-validation {{ bind_dnssec_validation }};

  recursion {{ bind_recursion }};
  allow-query { {{ bind_allow_query | join('; ') }}; };
  allow-transfer { {{ bind_allow_transfer | join('; ') }}; };
};

{% for zone_file in bind_default_zone_files %}
include "{{ zone_file }}";
{% endfor %}

{% for key in bind_tsig_keys %}
key "{{ key.name }}" {
  algorithm {{ key.algorithm }};
  secret "{{ key.secret }}";
};
{% endfor %}

{% for zone in bind_zones %}
zone {{ zone.name | quote }} {{ zone.class | default ('IN') }} {
  type {{ zone.type }};
{% if zone.type == 'master' %}
  file "{{ bind_master_zones_dir }}/{{ zone.name }}";
{% elif zone.type == 'slave' %}
  file "{{ bind_slave_zones_dir }}/{{ zone.name }}";
{% endif %}
  masters { {{ zone.masters | join('; ') }}; };
{% if zone.type == 'slave' and zone.allow_notify is defined %}
  allow-notify { {{ zone.allow_notify | join('; ') }}; };
{% endif %}
{% if zone.also_notify is defined %}
  also-notify { {{ zone.also_notify | join('; ') }}; };
{% endif %}
{% if zone.allow_transfer is defined %}
  allow-transfer { {{ zone.allow_transfer | join('; ') }}; };
{% endif %}
};

{% endfor %}
